// Define main pad

$pad = 40px



// Define color variables


$color-black = #2E2433
$color-white = #fff


$easing = cubic-bezier(.19,1,.22,1)



// Animation-related vars

$glitch-width = 100%
$glitch-height = 100%
$gap-horizontal = 77px
$gap-vertical = 400px
$time-anim = 2s
$delay-anim = 1s
$blend-mode-1 = none
$blend-mode-2 = none
$blend-mode-3 = none
$blend-mode-4 = none
$blend-mode-5 = overlay
$blend-color-1 = transparent
$blend-color-2 = transparent
$blend-color-3 = transparent
$blend-color-4 = $color-purple
$blend-color-5 = #af4949



// Define font calls

font()
  font-family 'Clash Display', Helvetica, Arial, sans-serif



// Define device sizes

$small = 480px
$medium = 795px
$smallContainer = 800px
$navScale = 543px
$container = 1258px
$large = 1300px



// Define easings

$easeOutBack = cubic-bezier(0.175,0.885,0.320,1.275)
$easeOutCubic = cubic-bezier(0.215,0.610,0.355,1.000)
$easeOutQuart = cubic-bezier(0.165,0.840,0.440,1.000)
