<?xml version="1.0" encoding="UTF-8"?>
<svg viewBox="0 0 107 94" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>ArtStation-logomark-white</title>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="ArtStation-logomark-white" fill="#2E2433" fill-rule="nonzero">
            <path d="M0.4,72.3 L9.3,87.7 L9.3,87.7 C11.1,91.2 14.7,93.6 18.8,93.6 L18.8,93.6 L18.8,93.6 L78.1,93.6 L65.8,72.3 L0.4,72.3 Z" id="Path"></path>
            <path d="M106.2,72.4 C106.2,70.3 105.6,68.3 104.5,66.6 L69.7,6.2 C67.9,2.8 64.4,0.5 60.3,0.5 L41.9,0.5 L95.6,93.5 L104.1,78.8 C105.7,76 106.2,74.8 106.2,72.4 Z" id="Path"></path>
            <polygon id="Path" points="57.1 57.1 33.2 15.6 9.2 57.1"></polygon>
        </g>
    </g>
</svg>